
.navbar {
    background: linear-gradient(to left, #00867b, #890296);
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 55%  ;
  }
  .navTitle {
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
  }
  .navList {
    width: 150px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
 
  .navItem {
    margin-right:  10px;
  }
   
  .navLink {
    text-decoration: none;
    color: #d1d4ff;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .navLink:hover {
    text-decoration: underline;
  }
